<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-once="title"> V-Once Kullanımı Title : {{title}}</p> 
        <br>
        {{hi()}}
        <hr>
        <a v-bind:href="link" target="_blank">Link</a>
        <hr>
        Blog Link
        {{blogLink}}
        <span v-html="blogLink"></span>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: "#app",
            data : {
                title : "Merhabalar, VUEJS",
                link : "https://www.google.com",
                blogLink : "<a href='http://www.google.com'>Blog Link</a>"
            },
            methods : {
                hi : function(){
                    this.title = "Merhaba";
                    return this.title;
                }
            }
        });
    </script>
</body>
</html>