<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button v-on:click="showAlert('fatih')">Uyarı göster</button>

        <button v-on:click="counter++">+</button>
        <button v-on:click="increase(5, $event)">5+</button>
        <button v-on:click="counter--">-</button>
        <p> Sayaç: {{counter}}</p>
        <p>{{counter > 10 ? "Counter 10'dan Büyüktür" : ""}}</p>
        <hr>
        <p v-on:mousemove="updateCoords">Mouse Koordinat : {{x}},{{y}}

            <span v-on:mousemove.stop>Gizli Bölme</span>
        </p>
        ShowAlert:
        <input type="text" v-model="message" v-on:keyup.enter="showAlert(message)">
        <br>
        ShowAlert2:
        <input type="text" v-on:keyup.enter="showAlert2" />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                counter: 0,
                x: 0,
                y: 0,
                message: ""
            },
            methods: {
                showAlert: (name) => {
                    alert(name);
                },
                showAlert2: function (event) {
                    alert(event.target.value);
                },
                increase: function (value, event) {
                    this.counter += value;
                    this.x = event.clientX;
                    this.y = event.clientY;
                },
                updateCoords: function (event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                }
            }
        });
    </script>
</body>

</html>