<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <button v-on:click="counter++">Arttır</button>
      <button v-on:click="counter--">Azalt</button>
      <strong> {{counter}}</strong>
      <strong> {{result()}} || {{ output }}</strong>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          name: "Fatih",
          counter: 0
        },
        methods: {
          result: function() {
            console.log("methods");
            return this.counter > 10
              ? "sayaç ondan büyük"
              : "sayaç ondan küçük";
          }
        },
        computed: {
          output: function() {
            console.log("computed");
            return this.counter > 10
              ? "sayaç ondan büyük"
              : "sayaç ondan küçük";
          }
        },
        watch: {
          // watch: data içerisindeki bir değeri direk gözlemleyi sağlar, değer değiştiğinde devreye girer.
          counter: function(value) {
            // counter değeri değiştiğinde işlemler yapılabilir
            vm = this;
            setTimeout(function() {
              console.log("Watch Çalıştı");
              vm.counter = 0;
            }, 1500);
          }
        }
      });
    </script>
  </body>
</html>
